html {
	/* font-size: 13.02083vw; */
	font-size: min(13.02083vw, 60px);
}
body {
	padding: 0;
	margin: 0;
	font-size: 0.4rem;
	background-color: black;
	color: #ffffff;
}

.view_wrapper {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

/* パラメータビュー */
#parameterView {
	padding: 0.2rem 0.1rem;
	margin: 0.1rem;
	text-align: left;
	border: 3px solid;
	border-color: white;
	border-radius: 6px;
	display: flex;
}

/* パラメータ（各キャラクター） */
.parameter {
	margin: 0 0.2rem;
}

.parameter:last-child {
	color: blueviolet;
}

/* 敵画像ビュー */
#enemyImageView {
	max-width: 900px;
	width: 100%;
	position: absolute; /* 絶対位置指定 */
	top: 40%; /* 上端をビューポートの中央に */
	left: 50%; /* 左端をビューポートの中央に */
	transform: translate(-50%, -50%); /* 要素を中央に移動 */
	display: flex;
	justify-content: center;
}

#enemyImageView > div {
	width: 30%;
	text-align: center;
	color: red;
	font-size: 0.25rem;
}

#enemyImageView > div > img {
	width: 100%;
	height: 4rem;
	border-radius: 10px;
	object-fit: contain;
}

#enemyImageView > div:nth-child(2) {
	color: blue;
}
.message_wrapper {
	position: fixed;
	width: 100%;
	max-width: 900px;
	bottom: 0;
	font-size: 0.4rem;
}

/* コマンドビュー */
#commandView {
	padding: 0.1rem 0;
	margin: 0.1rem;
	text-align: left;
	vertical-align: top;
	border: 3px solid;
	border-color: white;
	border-radius: 6px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#commandView:empty {
	display: none; /* コンテナが空の場合にボーダーを表示 */
}

#commandView > div {
	margin: 0.3rem 0;
}

/* メッセージビュー */
#messageView {
	text-align: left;
	vertical-align: top;
	padding: 0.2rem 0.2rem;
	margin: 0.2rem 0.1rem;
	border: 3px solid;
	border-color: white;
	border-radius: 6px;
}

/* 各コマンド */
#attackCommand:hover,
#recoveryCommand:hover,
.enemyCommand:hover {
	cursor: pointer;
}

/* 各コマンド */
#attackCommand::before,
#recoveryCommand::before,
.enemyCommand::before {
	/* 透明な▶を各コマンドの左に追加 */
	content: "▶";
	opacity: 0;
}

/* 各コマンド */
#attackCommand:hover::before,
#recoveryCommand:hover::before,
.enemyCommand:hover::before {
	/* マウスオーバーで▶を表示 */
	opacity: 100;
}

/* コマンドの味方の名前 */
#friendName::before {
	/* インデント調整のため
     透明な▶を名前の左に追加 */
	content: "▶";
	opacity: 0;
}
